@import "tailwindcss";

@plugin "@tailwindcss/typography";
@plugin "tailwindcss-animate";
@plugin "tailwind-scrollbar";

@import "../lib/tiptap/styles/index.css";

@variant dark (&:is(.dark *));

@theme {
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-background-1: var(--background-1);
  --color-background-2: var(--background-2);
  --color-background-3: var(--background-3);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-shake: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;

  --width-inherit: inherit;

  --shadow-inset-right: inset -50px 0px 20px -50px rgba(0, 0, 0, 0.3);

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes shake {
    10%,
    90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
      transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
      transform: translate3d(4px, 0, 0);
    }
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  :root {
    --background: hsl(0 0% 100%);
    --background-1: hsl(0 0% 100%);
    --background-2: hsl(0 0% 96%);
    --background-3: hsl(0 0% 90%);
    --foreground: hsl(0 0% 0%);

    --card: hsl(0 0% 100%);
    --card-foreground: hsl(0 0% 3.9%);

    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(0 0% 3.9%);

    --primary: hsl(0 0% 15%);
    --primary-foreground: hsl(0 0% 98%);

    --secondary: hsl(0 0% 96.1%);
    --secondary-foreground: hsl(0 0% 9%);

    --muted: hsl(0 0% 96.1%);
    --muted-foreground: hsl(0 0% 45.1%);

    --accent: hsl(0 0% 96.1%);
    --accent-foreground: hsl(0 0% 9%);

    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: hsl(0 0% 98%);

    --border: hsl(0 0% 95%);
    --input: hsl(0 0% 89.8%);
    --ring: hsl(0 0% 70%);
    --radius: 0.5rem;
  }

  .dark {
    --background: hsl(0 0% 0%);
    --background-1: hsl(0 0% 9%);
    --background-2: hsl(0 0% 15%);
    --background-3: hsl(0 0% 15%);
    --foreground: hsl(0 0% 90%);

    --card: hsl(0 0% 3%);
    --card-foreground: hsl(0 0% 98%);

    --popover: hsl(0 0% 3.9%);
    --popover-foreground: hsl(0 0% 98%);

    --primary: hsl(0 0% 90%);
    --primary-foreground: hsl(0 0% 9%);

    --secondary: hsl(0 0% 14.9%);
    --secondary-foreground: hsl(0 0% 98%);

    --muted: hsl(0 0% 14.9%);
    --muted-foreground: hsl(0 0% 63.9%);

    --accent: hsl(0 0% 8%);
    --accent-foreground: hsl(0 0% 98%);

    --destructive: hsl(0 62.8% 30.6%);
    --destructive-foreground: hsl(0 0% 98%);

    --border: hsl(0 0% 8%);
    --input: hsl(0 0% 14.9%);
    --ring: hsl(0 0% 63.9%);
  }
}

@layer base {
  *,
  ::before,
  ::after {
    @apply border-border;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    font-family: var(--font-inter), var(--font-ibm-plex-sans-arabic);
    @apply antialiased;
  }

  [data-radix-popper-content-wrapper] {
    @apply z-50!;
  }

  [data-reference-hidden] {
    opacity: 0;
    pointer-events: none;
  }

  div ::-webkit-scrollbar {
    @apply h-1 w-2 hover:w-3;
  }
  div ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-neutral-500;
  }
}

@layer components {
  .content-list-item {
    @apply lg:hover:bg-accent data-[selected=true]:bg-accent cursor-pointer items-center gap-4 rounded-md py-6 text-sm font-medium transition-all duration-300 hover:-mx-4 hover:px-5 data-[selected=false]:bg-transparent data-[selected=true]:-mx-4 data-[selected=true]:px-5 data-[selected=true]:opacity-100 lg:group-hover/list:opacity-65 lg:hover:opacity-100;
  }
}
